doctype html
html
  head
    link(
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/css/bootstrap.min.css"
      rel="stylesheet"
      integrity="sha384-GLhlTQ8iRABdZLl6O3oVMWSktQOp6b7In1Zl3/Jr59b6EGGoI1aFkw7cmDA6j6gD"
      crossorigin="anonymous")

    script(
      src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/js/bootstrap.bundle.min.js"
      integrity="sha384-w76AqPfDkMBDXo30jS1Sgez6pr3x5MlQ1ZAGC+nuZB+EYdgRZgiwxhTBTkF7CXvN"
      crossorigin="anonymous")
    style(type="text/css").
      main {max-width: 460px}

  body.text-center
    main.w-100.m-auto

      div.card
        div.card-body
          h5.card-title Federerad inloggning
          p.card-text Logga in mot Vismas federerade tj채nster
          a.btn.btn-primary(href=redirectUrl) Logga in
      div.card.mt-1
        div.card-body
          h5.card-title Testinloggning
          p.card-text Logga in som testanv채ndare
          div.dropdown
            a.btn.btn-secondary.dropdown-toggle(href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false") V채lj testanv채ndare...
            ul.dropdown-menu
              each impersonation in impersonations
                li
                  a.dropdown-item(href=(impersonation.loginUrl))
                    h6.mb-0 #{impersonation.name}
                    p.mb-0.opacity-75 #{impersonation.id}
